---
title: TheUI Svelte Introduction
dir: routes
description: Begin your journey with TheUI-Svelte. Learn how to quickly set up and integrate TheUI-Svelte component library into your Svelte projects.
---

# Welcome to SvelteKit
- list 1
- list 2
- list 3

<br>

```js
console.log("Hello!")
```